@value tokens: "../../styles/tokens.module.css";
@value faded, fontBody from tokens;

.container {
    padding: 3.5rem 8rem;
    z-index: 2;
    background-color: transparent;
    position: fixed;
    width: 100%;
}

.dashboard__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
 
.tab {
    color: faded;
    padding: 1.4rem;
    text-transform: uppercase;
    letter-spacing: 0.475rem;
    font-size: 1.2rem;
    border: .1rem solid faded;
}

.tab:last-child {
    margin-left: -.1rem;
    border-left: .1rem solid white;
}

.tabActive {
    color: white;
    border: .1rem solid white;
}

.dashboard__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 5%;
    width: 90vw;
}

.footer__share {
    display:flex;
    align-items: center;
}

.share__text {
    composes: smallSpaced from "../../styles/typo.module.css";
    color: faded;
    margin-right: 1rem;
    font-size: 1.4rem;
}

.dashboard__footer svg:hover {
    cursor: pointer;
    fill: white;
    stroke: white;
}

.dashboard__footer svg circle:hover {
    stroke: white;
}

.share__text:hover {
    color: white;
    cursor: pointer;
} 

.footer__share:hover svg path {
    cursor: pointer;
    fill: white;
}

.info__popup {
    /* border: .1rem solid faded !important; */
    width: 24rem !important;
    font-size: 1.4rem !important;
    line-height: 130% !important;
    font-family: fontBody !important;
}