@value tokens: "../../styles/tokens.module.css";
@value faded, dark, fontBody from tokens;

.container {
    padding: 3.5rem 8rem;
    z-index: 2;
    background-color: transparent;
    position: fixed;
    width: 100%;
}

.dashboard__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 5%;
    width: 90vw;
}

.footer__share {
    display:flex;
    align-items: center;
}

.dashboard__footer svg:hover {
    cursor: pointer;
    fill: white;
    stroke: white;
}

.dashboard__footer svg circle:hover {
    stroke: white;
}


.footer__share:hover svg path {
    cursor: pointer;
    fill: white;
}

.info__popup {
    width: 24rem !important;
    font-size: 1.4rem !important;
    line-height: 130% !important;
    font-family: fontBody !important;
}

@media only screen and (max-width: 400px) {

    .container {
       padding: 1rem 4rem;
    }

   
}
