@value tokens: "../../styles/tokens.module.css";
@value fontBody, faded, spacerBig, dark, main from tokens;

.buttons {
    composes: smallSpaced from "../../styles/typo.module.css";
    position: fixed;
    right: 0;
    padding: 9rem 8rem 0;
    text-align: right;
    transition: right 0.3s;
}

.buttons__hidden {
    right: -15rem;
}

.timeline__wrapper {
    position: fixed;
    left: 5rem;
    top: 20vh;
    width: 12rem;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: repeat(4, 12rem) 7rem;
    text-transform: capitalize;
    font-family: fontTitle, serif;
    font-size: 1.3rem;
    line-height: 140%;
    align-self: center;
    color: faded;
    z-index: 8;
    transition: left 0.3s;
} 

.timeline__hidden {
    left: -20rem;
}

.timeline__wrapper span {
    padding-top: 2.4rem;
}

.timeline__wrapper span:nth-child(even) {
    border-left: .1rem solid faded;
    padding-left: 1.5rem;
} 

.timeline__Ben {
    grid-template-rows: repeat(6, 8rem) 4rem;
}

.timeline__Mary {
    grid-template-rows: repeat(3, 15rem) 8rem;
}

.current {
    color: white;
    text-decoration: underline;
}

.addBookmark:hover {
    cursor: pointer;
}

/* Feedback popup bookmarks */
.feedback {
    position: fixed;
    right: 2rem;
    top: 2rem;
    padding: 1rem 2rem;
    border: .1rem solid faded;
    background-color: dark;
    z-index: 8;
    opacity: 0;
} 

.feedback__add {
    -webkit-animation: addAnimation 3s forwards; 
    animation: addAnimation 3s forwards;
    opacity: 1;
}

.feedback__remove {
    -webkit-animation: removeAnimation 3s forwards; 
    animation: removeAnimation 3s forwards;
    opacity: 1;
}

@keyframes addAnimation {
    0%   {opacity: 1;}
    90%  {opacity: 1;}
    100% {opacity: 0;}
}

@keyframes removeAnimation {
    0%   {opacity: 1;}
    90%  {opacity: 1;}
    100% {opacity: 0;}
}


/* GENERAL */

.detail {
    background-repeat: no-repeat, no-repeat, repeat;
    top: 0;
    right: 0;
    width: 100%;
    padding-bottom: 3rem;
}

.detailMargeretEvans {
    background-image: url('/assets/img/detail/MargeretEvans_portrait.png'), url('/assets/img/detail/MargeretEvans_country.png'), url('/assets/img/detail/texture.jpg');
    background-size: auto 100vh, auto 90vh, contain;
    background-position: top right 10%, top right 50%, center;
}

.detailMaryWallcott {
    background-image: url('/assets/img/detail/MaryWallcott_portrait.png'), url('/assets/img/detail/MaryWallcott_country.png'), url('/assets/img/detail/texture.jpg');
    background-size: auto 80rem, auto 80vh, contain;
    background-position: top 20rem right, top 5% right 70%, center;
}

.detailBenjaminCole {
    background-image: url('/assets/img/detail/BenjaminCole_portrait.png'), url('/assets/img/detail/BenjaminCole_country.png'), url('/assets/img/detail/texture.jpg');
    background-size: auto 90rem, auto 85vh, contain;
    background-position: top 1rem right 8rem, top 12rem right 40%, center;
}

.hidden {
    display: none;
}

.content {
    max-width: 106rem;
    margin: 0 auto 20rem;
}


/* TYPOGRAPHY */
.title {
    composes: titleLarge from "../../styles/typo.module.css";
    padding-bottom: 2rem;
}

.subtitle {
    composes: subtitle from "../../styles/typo.module.css";
    padding-bottom: 2rem;
}

.text {
    line-height: 1.5;
    padding-bottom: 1.5rem;
    z-index: 2;
}

.titleCentered {
    text-align: center;
    padding-bottom: 5rem;
}

.dates {
    font-size: 2rem;
    composes: number from "../../styles/components.module.css";
}


/* CONTENT - INTRO */
.generation {
    font-family: 'CarneysGalleryScript', sans-serif;
}
 
.name {
    composes: titleLarge from "../../styles/typo.module.css";
    font-size: 13rem;
}

.date {
    font-family: 'Roboto', sans-serif;
    font-size: 6rem;
    font-weight: bold;
    -webkit-text-stroke: 1px white;
    -webkit-text-fill-color: transparent;
}

.intro {
    padding-top: 20rem;
}

.intro__info {
    margin-top: 20rem;
    display: grid;
    grid-template-columns: 2fr 3fr;
    width: 60%;
}

.intro__info section {
    margin-right: 3em;
}

.intro__ancestor {
    margin-left: 8rem;
}


/* CONTENT - TIMEFRAME */
.backgroundImage {
    background-repeat: no-repeat;
    width: 100vw;
    height: 80rem;
    z-index: 0;
}

.detailMargeretEvans .backgroundImage {
    background-image: url("/assets/img/detail/MargeretEvans_revolution.png");
    margin-bottom: -60rem;
}

.detailMaryWallcott .backgroundImage {
    background-image: url("/assets/img/detail/MaryWallcott_slaves.png");
    margin-bottom: -60rem;
}

.detailBenjaminCole .backgroundImage {
    background-image: url("/assets/img/detail/BenjaminCole_america.png");
    margin-bottom: -70rem;
}

.timeframe {
    z-index: 2;
}

.timeframe__info {
    display: flex;
    flex: 1;	
}

.timeframe__info section {
    flex-basis: 100%;
}

.timeframe__info section:not(:last-of-type) {
    padding-right: 4rem;
}



/* CONTENT - LIVING */
.living {
    display: flex;
    justify-content: space-between;
}

.living__text {
    max-width: 42rem;
    z-index: 2;
}

.living__img {
    margin-top: -8rem;
}

.living__imgFamily {
    position: absolute;
    transform: translate(-8rem, 20rem);
}

.detailMaryWallcott .living__imgFamily {
    right: 0;
    transform: translate(0, -8rem);
}

.detailBenjaminCole .living__text section {
    margin-bottom: 4rem;
}

.detailBenjaminCole .living__imgFamily {
    transform: translate(5rem, 35rem);
    z-index: 2;
}

.detailBenjaminCole .living__discture {
    transform: translate(18rem, 0);
}



/* CONTENT - WORK */
.work {
    display: flex;
    margin-bottom: 10rem;
}

.work__img {
    position: absolute;
    transform: translate(-8rem, -15rem);
    z-index: 1;
}

.work__text {
    max-width: 41rem;
    margin-left: auto;
    z-index: 2;
}

.work section {
    margin-bottom: 3rem;
}

.lawyer {
    margin-bottom: 30rem;
    margin-top: 30rem;
}

.lawyer__info {
    display: grid;
    grid-template-columns: auto 38rem;
    background-color: red;
}

.testje {
    display: grid;
    grid-template-columns: auto 38rem;
}

.lawyer__img {
    position: absolute;
    left: 0;
}

.lawyer__text {
    grid-column: 2;
}

/* CONTENT - WAR */
.war__text {
    max-width: 39rem;
    z-index: 2;
}

.war__img {
    margin-top: -5rem;
}

/* CONTENT - EVENT */
.event__wrapper {
    display: grid;
    grid-template-columns: auto 38rem;
}

.event__text section {
    padding-bottom: 5rem;
}

.event__imgMLK {
    position: absolute;
    left: 0;
}


/* CONTENT - DEATH */
.death {
    padding-top: 15rem;
}

.detailMaryWallcott .death {
    width: 72.5rem;
    margin: 0 auto;
    padding-bottom: 15rem;
}

.detailMargeretEvans .death {
    margin-bottom: 0;
}

.detailBenjaminCole .death {
    margin-bottom: 0;
    padding-top: 5rem;
}

.death__start {
    margin-top: 15rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5.8rem;
}

.detailMaryWallcott .death__start {
    margin-top: 4rem;
}

.detailBenjaminCole .death__start {
    padding: 0 4rem;
}

.death__text {
    max-width: 41rem;
    z-index: 2;
}

.death__img {
    transform: translate(0, -10rem);
}


/* OTHER PAGE */
.detail__other {
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-image: url('/assets/img/detail/texture.jpg');
    background-size: cover;
    background-position: center;
}
.detail__other .name {
    max-width: 20rem;
}

.buttons__generation {
    display: flex;
    justify-content: space-between;
    composes: smallSpaced from "../../styles/typo.module.css";
    width: 73rem;
    max-height: 2rem;
    margin: 0 auto;
    color: faded;
    padding: 0 3.5rem;
    position: relative;
    margin-bottom: 5rem;
}

.buttons__generation p:hover {
    color: white;
}

.buttons__previous, .buttons__next{
    color: faded;
}

.buttons__next::after {
    content: '';
    position: absolute;
    background-repeat: no-repeat;
    width: 1.9rem;
    height: 1.9rem;
    right: -.1rem;
    top: -.6rem;
    background-image: url("/assets/img/icon_skip-right.svg");
}

.buttons__previous::before {
    content: '';
    position: absolute;
    background-repeat: no-repeat;
    width: 1.9rem;
    height: 1.9rem;
    left: -.1rem;
    top: -.6rem;
    background-image: url("/assets/img/icon_skip-left.svg");
}


@media only screen and (max-width: 1050px) {

    .timeline__wrapper, .timeline__hidden {
        display: none;
        opacity: 0;
    }

    .detail {
        padding-top: 45vh;
        width: 100%;
    }

    .buttons {
        padding: 8rem 5rem;
    }

    .detailMargeretEvans {
        background-size: auto 80vh, auto 60vh, contain;
        background-position: top 5rem right, top left 20%, center;
        width: 100%;
    }

    .detailMaryWallcott {
        background-size: auto 60vh, auto 80vh, contain;
        background-position: top 10rem right, top 5% right 70%, center;
    }

    .detailBenjaminCole {
        background-size: auto 80vh, auto 45vh, contain;
        background-position: top 15rem right -8rem, top 30rem right 70%, center;
    }

    .intro__ancestor {
        margin-left: 0;
    } 

    .intro__info {
        margin-top: 10rem;
        width: 100%;
    }

    .title {
        font-size: 4.6rem;
    }

    .dates {
        font-size: 1.6rem;
    }

    .content {
        margin: 0 auto 15rem;
        padding: 0 8rem;
    }

    /* TIMEFRAME */
    .backgroundImage {
        width: 100vw;
        height: 90vh;
        left: 0;
    }

    .detailMaryWallcott .backgroundImage {
        margin-bottom: -15rem;
        height: 40vh;
    }

    .detailBenjaminCole .backgroundImage {
        margin-bottom: -10rem;
        height: 40vh;
    }

    .detailMargeretEvans .backgroundImage {
        margin-bottom: -80rem;
        margin-top: -5rem;
    }

    .timeframe__info {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 4rem;
        grid-row-gap: 1rem;
        z-index: 4;
    }

    .timeframe__info section:not(:last-of-type){
        padding-right: 0;
    }

    .info__one, .info__two {
        grid-column: span 2;
    }

    .info__three {
        grid-column: span 4;
    }

    /* CONTENT - Living */
    .living__text {
        max-width: 30rem;
    }

    .detailBenjaminCole .living {
        display: grid;
        grid-template-columns: 1fr;
    }

    .detailBenjaminCole .living__text {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 4rem;
        max-width: 100%;
    }

    .detailBenjaminCole .living__text section {
        margin-bottom: 0;
    }

    .detailBenjaminCole .living__text .title {
        grid-column: span 2;
    }

    .living__img {
        margin-top: 0;
        position: absolute;
        right: 0;
    }

    .detailBenjaminCole .living__img {
        position: relative;
    }

    .living__imgFamily {
        width: 25vw;
        transform: translate(-4rem, 20rem);
        z-index: 2;
    }

    .detailMaryWallcott .living__imgFamily {
        width: 45vw;
        transform: translate(0, 0);
    }

    .living__imgHouse {
        width: 40vw;
        transform: translate(0, 0);
        z-index: 0;
    }

    .detailBenjaminCole .living__imgFamily {
        width: 70vw;
        transform: translate(0, 10rem);
    }

    .detailBenjaminCole .living__imgPicture {
        width: 60vw;
        transform: translate(15rem, 0);
    }

    .war {
        margin-bottom: 0;
    }

    .war .title {
        width: 55vw;
        margin: 0 auto;
    }

    .war__text {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 4rem;
        max-width: 100%;
    }

    .war__img img {
        width: 50vw;
        transform: translate(25rem, -10rem);
    }

    /* CONTENT - Work */

    .work {
        flex-direction: column;
    }

    .work__img {
        width: 80vw;
        transform: translate(0, -2rem);
        margin: 0 auto;
    }

    .work__text {
        max-width: 100vw;
        margin-left: 0;
        margin-top :50rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 4rem;
    }

    .work section {
        margin-bottom: 0;
    }

    .lawyer {
        margin-bottom: 30rem;
    }

    .testje {
        grid-template-columns: 1fr;
    }

    .lawyer__img img{
        width: 100vw;
        margin-top: 20rem;
        position: relative;
    }

    .lawyer__text {
        width: 60vw;
        grid-column: 1;
        margin: 0 auto;
        margin-bottom: 10rem;
    }

    /* SECTION EVENT */
    .event {
        padding-left: 0;
        margin-bottom: 5rem;
    }

    .event__wrapper {
        display: flex;
    }

    .event__imgMLK {
        position: relative;
        width: 45vw;
        left: 0;
        margin-right: 4rem;
    }

    /* CONTENT - DEATH */
    .death {
        padding-top: 0;
    }

    .detailMaryWallcott .death {
        width: 100%;
        padding-bottom: 0;
    }

    .death__start {
        margin-top: -5rem;
    }

    .detailMargeretEvans .death__start {
        grid-template-columns: 1fr;
        align-items: center;
        grid-gap: 4rem;
        width: 60vw;
        margin: 0 auto;
    }

    .detailBenjaminCole .death__start {
        padding: 0;
        display: flex;
        margin-top: 3rem;    
}

    .death__img {
        width: 50vw;
    }

    .detailMargeretEvans .death__img {
        transform: translate(0, 0);
        justify-self: center;
    }

    .detailBenjaminCole .death__img {
        transform: translate(-8rem, 0);
        width: 40vw;
        height: auto;
    }

    /* CONTENT - BUTTONS */
    .buttons__generation {
        width: 75vw;
        margin-top: 10rem;
    }

}

@media only screen and (max-width: 500px) {

    .buttons {
        padding: 7rem 2rem;
    }

    .detailMargeretEvans {
        background-size: auto 80vh, auto 40vh, contain;
        background-position: top 10rem right -15rem, top 10rem left 20%, center;
    }

    .detailMaryWallcott {
        background-size: auto 50vh, auto 50vh, contain;
        background-position: top 10rem right -10rem, top 10rem right 70%, center;
    }

    .detailBenjaminCole {
        background-size: auto 70vh, auto 50vh, contain;
        background-position: top 5rem right -8rem, top 15rem right 70%, center;
    }

    .name {
        font-size: 8rem;
    }

    .date {
        font-size: 4rem;
    }

    .intro__info {
        margin-top: 10rem;
        width: 100%;
        grid-template-columns: 1fr;
        grid-row-gap: 2rem;
    }

    .content {
        margin-bottom: 10rem;
        padding: 0 2rem;
    }

    .detailMaryWallcott .backgroundImage {
        margin-bottom: -20rem;
        height: 50vh;
    }

    .detailBenjaminCole .backgroundImage {
        margin-bottom: -15rem;
    }

    .timeframe__info {
        grid-template-columns: 1fr;
    }

    .info__one, .info__two, .info__three {
        grid-column: span 1;
    }

    .living {
        display: grid;
        grid-template-columns: 1fr;
    }

    .living__img {
        position: relative;
    }

    .living__imgHouse {
        width: 80vw;
    }

    .living__imgFamily {
        transform: translate(0, 15rem);
        width: 40vw;
    }

    .detailBenjaminCole .living__imgFamily {
        transform: translate(0, 2rem);
        width: 80vw;
    }

    .detailBenjaminCole .living__imgPicture {
        transform: translate(10rem, -2rem);
    }

    .living__text {
        max-width: 100%;
    }

    .detailMaryWallcott .living__text {
        padding-right: 1rem;
    }

    .detailBenjaminCole .living__text {
        grid-template-columns: 1fr;
    }

    .detailBenjaminCole .living__text .title {
        grid-column: span 1;
    }

    .detailMaryWallcott .living__imgFamily {
        width: 90vw;
    }

    .work {
        flex-direction: column-reverse;
    }

    .work__img {
        position: relative;
        width: 90vw;
    }

    .work__text {
        grid-template-columns: 1fr;
        margin-top: 0;
        margin-bottom: 5rem;
    }


    .lawyer__text {
        width: 100%;
    }

    .war__text {
        grid-template-columns: 1fr;
    }

    .war__img img {
        position: relative;
        transform: translate(0, 0);
        width: 80vw;
        margin: 0 auto;
        margin-top: 5rem
    }

    .event {
        margin-bottom: 0rem;
    }

    .event__wrapper {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 4rem;
    }

    .event__imgMLK {
        width: 90vw;
        margin-right: 0;
    }

     .detailMargeretEvans .death__start {
        width: 100%;
    }

    .death__img {
        width: 90vw;
    }

    .detailMaryWallcott .death__start {
        grid-template-columns: 1fr;
        grid-gap: 2rem;
        margin-top: 0rem;
    }

    .detailBenjaminCole .death__start {
        flex-direction: column;
    }

    .detailBenjaminCole .death__img {
        width: 100%;
        position: relative;
        transform: translate(0, -4rem);
    }

    .detail__other {
        padding-top: 44rem;
    }

}