.canvas__container {
    height: 100%;
    width: 100%;

    background-image: url('/assets/img/wolk.png');
    background-size: cover;
    background-repeat: no-repeat;
   
}


/* _scroll */

.iconscroll {
  display:flex;
  flex-direction: column;
  align-items: center;

  position: absolute;
  left: 48.5%;
  bottom: 4vh;
  z-index: 10;
  opacity: 1;
  margin: 0 auto;
  animation: iconScale 4s infinite;
  transform-origin: 50% 50%;
}

.iconscrollHidden {
  opacity: 0;
}

.iconscroll img {
    padding-bottom: .5rem;
}

@keyframes iconScale {
    0%   { transform: scale(0.9); }
    50%  { transform: scale(1.2); }
    100% { transform: scale(0.9); }
}

/* .iconscroll,
.iconscroll:before {
  position: absolute;
  left: 50%;
  z-index: 10;
}

.iconscroll {
  width: 4rem;
  height: 7rem;
  margin-left: -2rem;
  top: 85vh;
  box-shadow: inset 0 0 0 1px #FFF;
  border-radius: 2.5rem;
  opacity: 1;
  transition: opacity 3s ease-in-out;
}  */

/* .iconscroll:before {
  content: "";
  width: .8rem;
  height: .8rem;
  background: #FFF;
  top: .8rem;
  border-radius: .4rem;
  margin-left: -.4rem;
  animation: scroll infinite 1.5s;
} */

/* @keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(4.6rem);
  }
} */