.canvas__container {
    height: 100%;
    width: 100%;

    background-image: url('/assets/img/wolk.png');
    background-size: cover;
    background-repeat: no-repeat;
   
}


/* _scroll */

.iconscroll {
  display:flex;
  flex-direction: column;
  align-items: center;

  position: absolute;
  left: 48.5%;
  bottom: 4vh;
  z-index: 10;
  opacity: 1;
  margin: 0 auto;
  transform-origin: 50% 50%;

  opacity: 1;
  transition: opacity 2s ease-in;
  composes: smallSpaced from "../../styles/typo.module.css";
}

.iconscrollHidden {
  opacity: 0;
}

.iconscroll img {
    margin-bottom: 2rem;
    animation: iconScale 3s infinite;
}

@keyframes iconScale {
    0%   { transform: scale(0.9); }
    50%  { transform: scale(1.2); }
    100% { transform: scale(0.9); }
}
