
.button {
  composes: smallSpaced from "./typo.module.css";
  border: .1rem solid white;
  padding: 1.4rem 2rem;
  margin: 0 auto;
  background-repeat: no-repeat;
  padding-right: 4rem;
  background-position: 85% center;
  transition: ease-in-out .2s;
}

.button:hover {
  background-color: rgba(255,255,255,.15);
}