
.button {
  composes: smallSpaced from "./typo.module.css";
  border: .1rem solid white;
  padding: 1.4rem 2rem;
  /* display: inline; */
  margin: 0 auto;
  background-repeat: no-repeat;
  padding-right: 4rem;
  background-position: 85% center;
  transition: ease-in-out .4s;
}

.button:hover {
  background-color: #151515;
}