@value tokens: "./tokens.module.css";
@value dark, fontBody from tokens;

.button {
  composes: smallSpaced from "./typo.module.css";
  border: .1rem solid white;
  padding: 1.4rem 2rem;
  margin: 0 auto;
  background-repeat: no-repeat;
  padding-right: 4rem;
  background-position: 85% center;
  transition: ease-in-out .2s;
  background-image: url('/assets/img/arrow.svg')
}

.button:hover {
  background-color: rgba(255,255,255,.15);
  cursor: pointer;
}

.number {
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  font-feature-settings: 'pnum' on, 'lnum' on;
  letter-spacing: .1rem;
}

.lines {
  background: 
  linear-gradient(90deg, transparent, transparent 10%, faded 10.1%, transparent 10.1%),
  linear-gradient(90deg, transparent, transparent 42%, faded 42.1%, transparent 42.1%),
  linear-gradient(90deg, transparent, transparent 58%, faded 58.1%, transparent 58.1%),
  linear-gradient(90deg, transparent, transparent 90%, faded 90.1%, transparent 90.1%),
  linear-gradient(90deg, transparent, transparent 91%, faded 91.1%, transparent 91.1%);
  z-index: -1;
  height: 100vh;
  position: fixed;
  width: 100vw;
  opacity: .1;
}