@value tokens: "../../styles/tokens.module.css";
@value spacer, spacerSmall, faded, fontTitle from tokens;

.home__wrapper{
    padding: 3.5rem 8rem 0;
    height: 100%;

}

.header {
    position: fixed;
    width: 90vw;
    animation: cssAnimation 1s ease-in 3s forwards;
    opacity: 0;
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

/* IMAGES */
.img {
    position:absolute;
    width: auto;
    height: 100rem;
    opacity: 0;
}

.sliced__wrapper {
    margin: 0 auto;
    position: relative;
    width: 84.5rem;
    height: 100%;
    overflow: hidden;
}

.sliced__wrapperMove {
    transform: scale(.8) translateX(-20rem);
    transition: transform 0.6s ease-in-out;
}

.img__left {
    left: 0;
    animation:load_down 1s 2s forwards;
}

.img__middle {
    left: 45%;
    transform: translateX(-45%);
    animation:load_up 1s 2s forwards;
}

.img__right {
    right: 0;
    animation:load_down 1s 2s forwards;
}

.img__small {
    position:absolute;
    opacity:0;
    left: 5.5rem;
    width: 25rem;
    animation:load_small 1s 2s forwards;
}

@keyframes load_up{
    from{opacity:0;top:100%}
    to{opacity:1;top:0;}
}

@keyframes load_down{
    from{opacity:0;top:-100%}
    to{opacity:1;top:0}
}

@keyframes load_small{
    from{opacity:0;top:100%}
    to{opacity:1;top:47rem;}
}

/* CONTENT */
.content__wrapper {
    height: 100%;
    display: grid;
    grid-template-columns: 10rem 1fr 16rem;
    z-index: 2;
    position: fixed;
    top: 10.5rem;
    width: 90vw;
    animation: cssAnimation 1s ease-in 3s forwards;
    opacity: 0;
}

@keyframes cssAnimation {
    0% { opacity: 0; }
    50% { opacity: .5; }
    100% { opacity: 1; }
}

.title__wrapper {
    width: 40rem;
    margin-top: -18rem;
    margin-left: 19rem;
    align-self: center;
    /* opacity: 1; */
    /* transition: opacity .4s; */
}

.title__wrapperDissapear {
    transform: translateX(-100rem);
    /* opacity: 0; */
    transition: transform 0.7s ease-in-out;
    /* transition: opacity .4s; */
}

.title {
    font-size: 9.6rem;
    color: white;
    font-family: "MadeCanvas", "DMSerifDisplay", serif;
    text-transform: capitalize;
    line-height: 85%;
    margin-bottom: 8rem;
}

.button {
    composes: button from "../../styles/components.module.css";
    margin: 0;
    opacity: 1;
    transition: opacity 0.4s ease-in-out;
}

.button__back {
    composes: button from "../../styles/components.module.css";
    margin: 0;
    opacity: 1;
    transition: opacity 0.4s ease-in-out;
    padding-right: 2rem;
    padding-left: 4rem;
    background-position: 15% center;
}

.buttonDissapear {
    display: none;
}

.timeline__wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(4, 12rem) 7rem;
    text-transform: capitalize;
    font-family: fontTitle, serif;
    font-size: 1.3rem;
    align-self: center;
    margin-top: -18rem;
}

.timeline__wrapperDissapear {
    transform: translateX(-30rem);
    transition: transform 0.4s ease-in-out;
}

.timeline__wrapper span {
    padding-top: 2.4rem;
}

.timeline__wrapper span:nth-child(even) {
    border-left: .1rem solid white;
    padding-left: 1rem;
} 

.sidetext {
    font-family: fontTitle, serif;
    font-size: 1.6rem;
    line-height: 188.9%;
    text-align: right;
}

.sidetextDissolve {
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
}

@media only screen and (min-width: 1600px) {
    .sliced__wrapper {
        transform: scale(1);
    }

    .sliced__wrapperMove {
        transform: scale(1) translateX(-20rem);
    }

    .title {
        font-size: 11rem;
    }

    .timeline__wrapper {
        grid-template-rows: repeat(4, 14rem) 7rem;
    }
}