@import "./styles/reset.css";

html {
  box-sizing: border-box;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: sans-serif;
  height: 100%;
  background-color: rgb(28, 28, 28);
}

#root {
  height: 100%;
}