@value tokens: "../../styles/tokens.module.css";
@value faded, fontBody, dark from tokens;

.header {
    z-index: 5;
    position: fixed;
    width: 100%;
    top: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 3.5rem 8rem 0;
}

.text { 
    composes: top from "../../styles/typo.module.css";
}

.dashboard__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
 
.tab {
    color: rgb(190, 190, 190);
    padding: 1.4rem;
    text-transform: uppercase;
    letter-spacing: 0.475rem;
    font-size: 1.2rem;
    border: .1rem solid faded;
    backdrop-filter: blur(25px);
    background-color: rgba(27, 27, 27, 0.80);
}

.tab:last-child {
    margin-left: -.1rem;
    border-left: .1rem solid white;
}

.tabActive {
    color: white;
    border: .1rem solid white;
}

.tabActive svg circle, .tabActive svg path {
    stroke: white;
}

.hamburger:hover {
    cursor: pointer;
}
 
.partners__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.toggle__visible {
    position: fixed;
    top: 5;
    transition: top 0.3s;
    left: 35vw;
}

.toggle__hidden {
    position: fixed;
    top: -10rem;
}

.toggle {
    margin-top: 2rem;
}

.toggle__icon {
    margin-right: 1rem;
    margin-bottom: -.2rem;
}

.toggle__small {
    display: none;
}

@media only screen and (max-width: 1050px) {

    .toggle__visible {
        left: 22vw;
    }

    .header {
       padding: 3.5rem 5rem 0;
    }
}


@media only screen and (max-width: 500px) {

    .header {
       padding: 2rem 2rem 0;
    }

    .toggle__small {
        display: inline;
    }

    .toggle__big{
        display: none;
    }

   
}