@value tokens: "../../styles/tokens.module.css";
@value faded, dark, fontBody from tokens;


.play__icon:hover circle{
    fill: dark;
}

.play__icon:hover path{
    fill: #FFF;
}

.play__btn {
    position: fixed;
    left: 7.5rem;
    bottom: 10vh;
    z-index: 5;
}

.modal {
    font-size: 1.6rem;
    color: faded;
    padding: 4rem;
}

.modal > .header {
  width: 100%;
  font-size: 2rem;
  font-weight: bold;
    color: white;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  text-align: center;
  padding-bottom: 3rem;
}

.modal .intro {
    margin-bottom: 2rem;
    line-height: 1.7;
}

.modal frame {
    margin: 0 auto;
}

.modal > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  line-height: 20px;
  right: 2rem;
  top: 2rem;
  font-size: 3rem;
  color: white;
}


/* SHARE POPUP */

.share__text {
    composes: smallSpaced from "../../styles/typo.module.css";
    color: faded;
    margin-right: 1rem;
    font-size: 1.4rem;
}

.share__text:hover {
    color: white;
    cursor: pointer;
} 

.share {
    padding: 4rem 1.5rem;
    text-align: center;
}

.share .header {
    padding-bottom: 1.5rem;
}

.form__share {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 18rem;
    grid-gap: 1.5rem;
    margin-top: 4.5rem;
    margin-bottom: 3rem;
}

.form__input {
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid #FFFFFF;
    padding: 1.5rem;
    color: faded;
}

.link__btn {
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid #FFFFFF;
    text-transform: uppercase;
    composes: smallSpaced from "../../styles/typo.module.css";
    font-weight: bold;
    font-size: 1.4rem;
    padding: 1.5rem;
}


/* Custom checkbox */
.checkbox {
    cursor: pointer;
    display: block;
    position: relative;
    padding-left: 2rem
}

.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkbox__input {
  position: absolute;
  left: 5rem;
  height: 1.2rem;
  width: 1.2rem;
  border: .1rem solid faded;
}

.checkbox input:checked ~ .checkbox__input {
  background-color: faded;
}

.checkbox__input:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox input:checked ~ .checkbox__input:after {
  display: block;
}

.checkbox .checkbox__input:after {
  left: .3rem;
  top: .1rem;
  width: .45rem;
  height: .6rem;
  border: solid white;
  border-width: 0 .1rem .1rem 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
