.container {
    margin: 3.5rem 8rem;
    z-index: 999;
    background-color: transparent;
}

.dashboard__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tab {
    color:white;
    padding: 1.4rem;
    text-transform: uppercase;
    letter-spacing: 0.475rem;
    font-size: 1.2rem;
    border: .1rem solid white;
}
