@value tokens: "../../styles/tokens.module.css";
@value faded, fontTitle from tokens;

.lines {
    background: 
    linear-gradient(90deg, transparent, transparent 10%, faded 10.1%, transparent 10.1%),
    linear-gradient(90deg, transparent, transparent 42%, faded 42.1%, transparent 42.1%),
    linear-gradient(90deg, transparent, transparent 58%, faded 58.1%, transparent 58.1%),
    linear-gradient(90deg, transparent, transparent 90%, faded 90.1%, transparent 90.1%),
    linear-gradient(90deg, transparent, transparent 91%, faded 91.1%, transparent 91.1%);
    z-index: -1;
    height: 100vh;
    position: fixed;
    width: 100vw;
    opacity: .1;
}

.container {
    max-width: 106rem;
    margin: 0 auto 12rem;
    padding-top: 10rem;
    z-index: 1;
}

/* TYPOGRAPHY ----------------------- */

.title {
    composes: titleLarge from "../../styles/typo.module.css";
    padding-bottom: 2rem;
}

.subtitle {
    composes: subtitle from "../../styles/typo.module.css";
    padding-bottom: 2rem;
}

.text {
    line-height: 1.5;
    padding-bottom: 1.5rem;
    z-index: 2;
}

.titleCentered {
    text-align: center;
    padding-bottom: 5rem;
}

.titleCaps {
    font-size: 2rem;
    composes: smallSpaced from "../../styles/typo.module.css";
    text-transform: uppercase;
    padding-top: 1rem;
}

.content {
    margin-top: 10rem;
}



/* HEADER ----------------------- */

.header {
    max-width: 44rem;
    margin-left: auto;
    padding-bottom: 20rem;
}

.titleHeader {
    padding: 14rem 0 3rem;
}

.benefits {
    composes: smallSpaced from "../../styles/typo.module.css";
    font-size: 1.6rem;
    margin-bottom: 5rem;
}

.benefits li {
    padding: 1rem;
}

.header::before {
    position: absolute;
    content: '';
    background-image: url("/assets/img/gettingstarted/hero.jpg");
    z-index: -1;

    height: 69rem;
    width: calc((100vw - 1060px)/2 + 560px);
    background-size: cover;
    left: 0;
}



/* INTRO ----------------------- */

.intro__text {
    margin-top: 3rem;
    max-width: 76rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 6rem;

}



/* WORK ----------------------- */

.work::before {
    content: '';
    position: absolute;
    left: 0;
    transform: translateY(-80rem);
    background-image: url("/assets/img/gettingstarted/wolk_3.png");
    width: 100vw;
    height: 120%;
    background-size: cover;
    z-index: -1;
}

.work__text {
    margin-top: 10rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 7rem;
}

.work__text img {
    margin-bottom: 3rem;
}

.work__text p {
    max-width: 80%;
    margin: 0 auto;
}



/* TIMELINE ----------------------- */

.timeline__wrapper {
    margin-top: 5rem;
}

.timeline {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    margin: 0rem 0 12rem;
}

.timeline__item {
    display: grid;
    grid-template-rows: 3fr 1fr;
}

.timeline__item img {
    margin: 0 auto;
}

.line {
    height: 0.1rem;
    width: 80%;
    margin: 0 auto;
    transform: translateY(2.5rem);
    background-color: white;
}

.wait__text {
    max-width: 64rem;
    margin: 0 auto;
}



/* PACKAGES ----------------------- */

.packages::before {
    content: '';
    position: absolute;
    left: 0;
    transform: translateY(-120rem);
    background-image: url("/assets/img/gettingstarted/wolk_2.png");
    width: 100vw;
    height: 150%;
    background-size: cover;
    z-index: -1;
}

.packages {
    margin: 10rem 0 15rem;
}

.plans {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    max-width: 64rem;
    margin: 8rem auto 0;
}

.plans__item {
    display: grid;
    grid-template-rows: repeat(4, auto);
}

.plan__price {
    font-size: 6rem !important;
    background-color: red;
}

.plan__benefits {
    margin-bottom: 3rem;
}

.plan__benefits li {
    padding: 1rem;
}



/* REVIEW ----------------------- */

.review::before {
    content: '';
    position: absolute;
    left: 0;
    transform: translateY(-50rem);
    background-image: url("/assets/img/gettingstarted/wolk_1.png");
    width: 100vw;
    height: 100%;
    background-size: cover;
    z-index: -1;
}

.review > div{
    margin-top: 10rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 7rem;
}

.quote::before {
    content: '';
    position: absolute;
    background-image: url("/assets/img/gettingstarted/quote.svg");
    background-repeat: no-repeat;
    height: 5rem;
    width: 5rem;
    transform: translateY(-4rem);
}

.customer {
    display: flex;
    margin-top: 2rem;
}

.customer img {
    transform: translateY(-1rem);
    margin-right: 3rem;
    border-radius: 50%;
    height: 6rem;
}

.customer__type {
    color: faded;
    padding-top: .8rem;
    text-transform: uppercase;
}



/* FOOTER ----------------------- */

.footer {
    display: flex;
    justify-content: space-between;
    margin-top: 12rem;
}

.footer h2 {
    font-size: 5.8rem;
    transform: translateY(-2rem);
}



/* MEDIA ----------------------- */

@media only screen and (max-width: 730px) {
    /* tijdlijn, footer button, packages */
    .container {
        margin: 0 auto 12rem;
        padding: 10rem 4rem 0;
        z-index: 1;
    }

    .intro__text, .wait__text {
        grid-template-columns: 1fr;
        text-align: center;
        margin: 0 auto;
        max-width: 80%;
    }

    .work__text {
        grid-template-columns: 1fr;
    }

    .content {
        margin-top: 5rem;
    }

    .review div {
        grid-template-columns: 1fr;
        max-width: 80%;
        margin: 0 auto;
    }

    .review h2 {
        text-align: center;
    }

    .customer {
        margin: 3rem 0 0 !important;
        text-align: left;
    }

    .customer div {
        margin: 0;
    }

    .header {
        margin: 0 auto;
        padding-bottom: 10rem;
        text-align: center;
    }

    .header::before {
        position: absolute;
        content: '';
        background-image: url("/assets/img/gettingstarted/hero.jpg");
        z-index: -1;
        transform: translateY(-10rem);

        height: 45rem;
        width: 100vw;
        background-size: cover;
        left: 0;
    }

    .titleHeader {
        padding-top: 32rem;
    }

    .footer {
        flex-direction: column;
        text-align: center;
        max-width: 80%;
        margin: 10rem auto;
    }

    .packages {
        margin: 5rem 0 10rem;
    }
}