@import "./styles/reset.css";
@value tokens: "styles/tokens.module.css";
@value main from tokens;

@font-face {
  font-family: 'DM Serif Display';
  src: url(./fonts/DMSerifDisplay/DMSerifDisplay-Regular.woff2) format('woff2'), url(./fonts/DMSerifDisplay/DMSerifDisplay-Regular.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Corbel';
  src: url(./fonts/Corbel/Corbel-Light.woff2) format('woff2'), url(./fonts/Corbel/Corbel-Light.woff) format('woff');
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: 'Corbel';
  src: url(./fonts/Corbel/Corbel-Bold.woff2) format('woff2'), url(./fonts/Corbel/Corbel-Bold.woff) format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'MadeCanvas';
  src: url(./fonts/MadeCanvas/MADECanvasRegular.woff2) format('woff2'), url(./fonts/MadeCanvas/MADECanvasRegular.woff) format('woff');
  font-weight: lighter;
  font-style: normal;
}

html {
  box-sizing: border-box;
  height: 100%;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  height: 100%;
  background-color: #1c1c1c; /* background werkt niet? */
  color: white;

  font-family: 'Corbel', sans-serif;
  font-weight: lighter;
  font-size: 1.6rem;
}

#root {
  height: 100%;
}