@value tokens: "../../styles/tokens.module.css";
@value spacer, spacerSmall, faded from tokens;

.onboarding__wrapper{
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  display:grid;
  grid-template-columns: 1fr 55rem;
 
  background-image: url("/assets/img/lines_bg.png");
  /* als applicatie draait root map, anders package.json public path */
}

.onboarding__img{
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.header {
    padding: 3.5rem 8rem;
    position: fixed;
}

.header__wrapper {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text__wrapper {
    padding: 0 7rem 6rem 7rem;
    display: flex;
    flex-flow: column;
    align-self: flex-end;
}

.title {
    composes: titleLarge from "../../styles/typo.module.css";
    margin-bottom: 4.5rem;
}

.paragraph__wrapper {
    height: 28rem;
}

.paragraph {
    composes: text from "../../styles/typo.module.css";
    font-weight: lighter;
    padding-bottom: spacerSmall;
}

.paragraph__bold {
    font-weight: bold;
}

.tab {
    composes: top from "../../styles/typo.module.css";
    color: faded;
    padding-right: 1.5rem;
}

.tabActive {
    color: white;
}

.button {
    composes: button from "../../styles/components.module.css";
    align-self: flex-end;
    margin: 0;
}

.empty {
    width: 4rem;
    height: 4rem;
}

.buttons__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button__secondary {
    composes: smallSpaced from "../../styles/typo.module.css";
}

.button__secondary:hover {
    font-weight: bold;
    font-size: 1.4rem;
}

@media only screen and (max-width: 1050px) {

    .onboarding__wrapper {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .tab {
        display: none;
    }

    .title {
        width: 60vw;
    }

    .text__wrapper {
        width: 85vw;
        margin: 0 auto;
    }

    .onboarding__one  .text__wrapper, .onboarding__two  .text__wrapper, .onboarding__three  .text__wrapper   {
        margin-top: -4rem;
    }
}

@media only screen and (max-width: 500px) {


    .header {
        padding: 2rem;
    }

    .text__wrapper {
        width: 100vw;
        padding: 0 2rem;
        padding-bottom: 4rem;
    }

    .title {
        font-size: 4.6rem;
        width: 80vw;
    }

    .onboarding__one  .text__wrapper, .onboarding__two  .text__wrapper, .onboarding__three  .text__wrapper   {
        margin-top: -2.5rem;
    }
}