.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    height: 100%;
    right: 0;
    width: 33rem;
    color: white;
    z-index: 3;
    transition: transform 0.3s ease-in-out;
    box-shadow: 0 0 5rem 0 rgba(0,0,0,0.20);

    backdrop-filter: blur(25px);
    background-color: rgba(27, 27, 27, 0.80);
}

.sidebarClosed {
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
}

.sidebarOpened {
    transform: translateX(0);
    transition: transform 0.3s ease-in-out;
}

.closeButton {
    position: absolute;
    color: white;
    top: 0;
    right: 0;
    padding: 3.5rem 5rem;
    outline: 0;
    height: 4rem
}

.closeButton {
    cursor: pointer;
}