@value tokens: "../../styles/tokens.module.css";
@value faded, fontBody from tokens;

.mapContainer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
}

.marker {
  width: 10px;
  height: 10px;
  background-color: blue;
}

.popupContent {
  background-color: rgb(17, 17, 17);
  text-align: center;
  font-family: fontBody;
}

.popupContent img {
  border-radius: 50%;
  margin-top: -50%;
  margin-bottom: 5px;
  margin-left: 8%;
}

.popupContent p {
  font-size: 1.6rem;
}

.popupContent span {
  color: faded;
  font-size: 1.4rem;
}

.popupTip {
  border-top-color: rgb(17, 17, 17) !important;
}

/* werkt niet!!! */
.popupImage {
  border-radius: 50%;
  margin-top: -50%;
  margin-bottom: 5px;
  margin-left: 8%;
}

/* TEST CODE */
.test {
  width: 300px;
  height:300px;
  padding: 10rem;
}

.test svg circle:hover {
  fill: red;
}