.mapContainer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
}

.marker {
  width: 10px;
  height: 10px;
  background-color: blue;
}

.popupContent {
  background-color: rgb(17, 17, 17);
}

.popupTip {
  border-top-color: rgb(17, 17, 17) !important;
}

/* werkt niet!!! */
.popupImage {
  border-radius: 50%;
  margin-top: -50%;
  margin-bottom: 5px;
  margin-left: 8%;
}

.test {
  color: red;
}