@value tokens: "../../styles/tokens.module.css";
@value faded, fontBody from tokens;

.mapContainer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.marker {
  width: 1.5rem;
  height: 1.5rem;
  background-color: brown;
  border: .15rem solid rgba(255, 255, 255, 0.808);
}

.popup {
  color: white !important;
}

/* tip */
.popup div:first-of-type {
  border-top-color: rgb(17, 17, 17);
}

/* content */
.popup div:last-of-type {
  background-color: rgb(17, 17, 17);
  text-align: center;
}

.popup div:last-of-type img {
  border-radius: 50%;
  margin-top: -50%;
  margin-bottom: 5px;
}

.popup div:last-of-type p {
  font-size: 1.4rem;
}

.popup div:last-of-type span {
  color: faded;
  font-size: 1.2rem;
}