@value tokens: "../../styles/tokens.module.css";
@value fontBody, faded from tokens;

.login__wrapper{
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  display:grid;
  grid-template-columns: 1fr 55rem;
}

.header {
    position: fixed;
}

.header__wrapper {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3.5rem 8rem;
}

.header__text {
    composes: top from "../../styles/typo.module.css";
}

.login__img {
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.content__wrapper {
    margin: 18rem 8rem 0 8rem;
    text-align: center;
}

.title {
    composes: titleLarge from "../../styles/typo.module.css";
}

.subtitle {
    font-family: fontBody;
    font-weight: lighter;
    font-size: 1.8rem;
}

.form {
    margin-top: 3.5rem;
    text-align: left;
    color: faded;
}

.form__wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
}

/* Visually hidden - zie thatsapp firebase */
.form__label {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}

.form__input {
    margin-bottom: 1rem;
    background: transparent;
    border-bottom: .1rem solid faded;
    padding: 1rem;
}

.form__input:active {
    border: .1rem solid white;
    background: transparent;
}

.form__extra {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    color: faded;
}

.link {
    color: white;
    text-decoration: underline;
    color: faded;
}

.divider {
    display: grid;
    grid-template-columns: 18rem auto 18rem;
    align-items: center;
    text-align: center;
    margin-top: 3rem;
}

.line {
    width: 100%;
    height: .1rem;
    background-color: faded;
}

.subtext {
    color: faded;
    margin-top: 1.5rem;
}

.empty {
    width: 4rem;
    height: 4rem;
}