@value tokens: "../../styles/tokens.module.css";
@value borderRadius, extraSmallScreen, spacerRegular, spacerSmall, faded from tokens;

.menu__wrapper {
    text-align: center;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    height: 100%;

}

.image {
    background-color: black;
    border-radius: 50%;
    object-fit: cover;
    margin: 0 auto;
    display: block;
}

.name {
    composes: titleRegular from "../../styles/typo.module.css";
    margin: 1rem;
}

.button {
    composes: smallSpaced from "../../styles/typo.module.css";
    position: relative;
    padding-right: 1rem;
}

.button::after {
    content: '';
    position: absolute;
    background-image: url("/assets/img/icon_logout.svg");
    background-repeat: no-repeat;
    width: 1.6rem;
    height: 1.6rem;
    left: 17.5rem;
    top: -.3rem;
}  

.menu__top {
    margin-bottom: 50%;
}

@media only screen and (max-width: 1050px) {
    .menu__top {
        margin-bottom: 50%;
    }
}


@media only screen and (max-width: 500px) {
    .button::after {
        left: 19.5rem;
    }
}