@value tokens: "../../styles/tokens.module.css";
@value borderRadius, extraSmallScreen, spacerRegular, spacerSmall from tokens;

.menu__wrapper {
    text-align: center;
}

.image {
    background-color: black;
    border-radius: 50%;
    object-fit: cover;
    margin: 0 auto;
    display: block;
}

.name {
    composes: titleRegular from "../../styles/typo.module.css";
    margin: 1rem;
}