.container {
    padding: 3.5rem 8rem;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__title { 
    composes: top from "../../styles/typo.module.css";
}

.hidden {
    display: none;
}

.bookmarks__wrapper {
    display: flex;
}