@value tokens: "./tokens.module.css";
@value fontSizeSmall, fontSizeRegular, fontSizeMedium, fontSizeLarge, fontSizeExtraLarge, fontSizeRegular, fontBody, fontTitle tokens;

.titleLarge {
  font-family: fontTitle;
  font-size: fontSizeExtraLarge;
  font-weight: bold;
}

.titleRegular {
  font-family: fontTitle;
  font-size: fontSizeLarge;
  font-weight: bold;
}

.subtitle {
  text-transform: uppercase;
  font-family: fontBody;
  font-size: fontSizeMedium;
  font-weight: bold;
  letter-spacing: 10%;
}

.buttonText {
  text-transform: uppercase;
  font-size: fontSizeSmall;
  font-weight: lighter;
  letter-spacing: 50%;
}

.topText {
  font-size: fontSizeRegular;
  font-weight: normal;
  font-family: fontTitle;
}
