@value tokens: "../../styles/tokens.module.css";
@value borderRadius, extraSmallScreen, spacerRegular, spacerSmall from tokens;

.image {
    background-color: black;
    border-radius: 50%;
    object-fit: cover;
    margin: 0 auto;
    display: block;
}

.name {
    composes: titleRegular from "../../styles/typo.module.css";
}

.dates {
    padding-top: 1rem;
    composes: smallSpaced from "../../styles/typo.module.css";
    letter-spacing: .1rem;
}

.header {
    padding: 3rem 0 4rem;
    text-align: center;
}

.intro {
    composes: text from "../../styles/typo.module.css";
}

.info {
    display: grid;
    grid-template-columns: 1fr 5fr;
    align-items: center;
    grid-row-gap: 2rem;
    margin-top: 4rem;
}

.info__title {
    composes: top from "../../styles/typo.module.css";
    padding-bottom: .6rem;
    text-transform: capitalize;
}

.info__subtitle {
    composes: smallSpaced from "../../styles/typo.module.css";
}